
#button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}


#textArea{

    -fx-control-inner-background: #c3ff22;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-fill: #ff00db;
    -fx-effect: dropshadow(gaussian, rgba(65, 255, 127, 0.5), 0, 0, 0, 1);
    -fx-text-fill: #800708;

    -fx-highlight-fill: red;
    -fx-highlight-text-fill: #a8ffa0;
}